
section
  +slide
    h2 Want

    p 流量最大的一個流，也就是最大流！

  +slide
    h3 想法
    p 一點一點慢慢增加流量

  +slide
    img.x2.space-right(src="img/latex/flow1-0.svg")
    img.fragment(width="40%" src="img/latex/flow1-1.svg")

  +slide
    p 問：可以增加多少流量？
    img(width="80%" src="img/latex/flow1-2.svg")
    img.fragment(width="80%" src="img/latex/flow1-3.svg")

  +slide
    img.x2.space-right(src="img/latex/flow2-0.svg")
    img.fragment(width="40%" src="img/latex/flow2-1.svg")

  +slide
    p 直到有一天流不了。
    img.x2.space-right(src="img/latex/flow3-0.svg")
    img.fragment(width="40%" src="img/latex/flow3-1.svg")

  +slide
    p Question: 這樣是否就是一個最大流？
    p.fragment Answer: No!

  +slide
    img.x3.space-right(src="img/latex/flowzz-0.svg")
    img.x3.fragment.space-right(src="img/latex/flowzz-1.svg")
    img.x3.fragment(src="img/latex/flowzz-2.svg")
    

  +slide
    h3 再仔細觀察！

    p 還記得
      br
      | 流量對稱 : 
      | \( f(u, v) = -f(v, u), \; \forall (u, v)\)

  +slide
    img.x2.vertmid.space-right(src="img/latex/flowrev-0.svg")
    img.x2.vertmid.fragment(src="img/latex/flowrev-1.svg")
    
    p.fragment \( -3 < 0 \) ，可以流過去！

  +slide
    img.vertmid.space-right(width="26%" src="img/latex/flowhao-0.svg")
    span.vertmid.space-right \(+\)
    img.vertmid.fragment.space-right(width="26%" src="img/latex/flowhao-1.svg")
    span.vertmid.space-right \(=\)
    img.vertmid.fragment(width="26%" src="img/latex/flowhao-2.svg")

  +slide
    p Question: 考慮負向邊之後，是否就是一個最大流？
    p.fragment Answer: Yes!
